<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task_entry.task_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @task_entry.duration %>
</p>

<p>
  <strong>Note:</strong>
  <%= @task_entry.note %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @task_entry.start_time %>
</p>

<%= link_to 'Edit', edit_task_entry_path(@task_entry) %> |
<%= link_to 'Back', task_entries_path %>
